In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 8, Finished, Available)

In [4]:
df=pd.read_csv("Users/gouraveshsharma/titanic.csv")
df.head(5)

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 9, Finished, Available)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.describe()

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 10, Finished, Available)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
# Step 3: Preprocess the data
# Drop unnecessary columns
titanic_data = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 11, Finished, Available)

In [7]:
# Fill missing values with median for 'Age' and mode for 'Embarked'
titanic_data['Age'].fillna(titanic_data['Age'].median(), inplace=True)
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace=True)

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 12, Finished, Available)

In [8]:
# Convert categorical features to numerical
titanic_data = pd.get_dummies(titanic_data, columns=['Sex', 'Embarked'])

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 13, Finished, Available)

In [9]:
# Step 4: Split the data into training and testing sets
X = titanic_data.drop('Survived', axis=1)
y = titanic_data['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 14, Finished, Available)

In [10]:
# Step 5: Train the Decision Tree classifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 15, Finished, Available)

DecisionTreeClassifier()

In [11]:
# Step 6: Make predictions on the testing set
y_pred = clf.predict(X_test)

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 16, Finished, Available)

In [12]:
# Step 7: Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 17, Finished, Available)

Accuracy: 0.7821229050279329

In [13]:
auc_weighted = roc_auc_score(y_test, y_pred, average='weighted')
print("Weighted AUC:", auc_weighted)

StatementMeta(830a91fb-558d-4c57-bd30-5c9ffa300d31, 9, 18, Finished, Available)

Weighted AUC: 0.7783783783783784